In [4]:
from __future__ import absolute_import, division, print_function, unicode_literals

import numpy as np
import pandas as pd
from tensorflow import keras
import tensorflow as tf

from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split


from input_generator import load_dataset, load_dataset_with_lables
from data_parser import *
from df import create_seperate_columns, create_listed_columns

d:\miniconda3\envs\deep\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
d:\miniconda3\envs\deep\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
d:\miniconda3\envs\deep\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
d:\miniconda3\envs\deep\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
d:\miniconda3\envs\deep\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
d:\miniconda3\envs\deep\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
d:\miniconda3\envs\deep\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
d:\miniconda3\envs\deep\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
d:\miniconda3\envs\deep\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
d:\miniconda3\envs\deep\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
d:\miniconda3\envs\deep\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
d:\miniconda3\envs\deep\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [6]:
# Get dataframe with tags and category_id columns
csvpath = 'data\CAvideos.csv'
tab_dataframe = get_tags_and_labels_df(csvpath)
max_of_tags = 124
tab_dataframe = create_seperate_columns(tab_dataframe, max_of_tags, 'tags')

tab_dataframe.head()

,category_id,tags0,tags1,tags2,tags3,tags4,tags5,tags6,tags7,tags8,...,tags114,tags115,tags116,tags117,tags118,tags119,tags120,tags121,tags122,tags123
0,10,Eminem,Walk,On,Water,Aftermath/Shady/Interscope,Rap,notags,notags,notags,...,notags,notags,notags,notags,notags,notags,notags,notags,notags,notags
1,23,plush,bad unboxing,unboxing,fan mail,idubbbztv,idubbbztv2,things,best,packages,...,notags,notags,notags,notags,notags,notags,notags,notags,notags,notags
2,23,racist superman,rudy,mancuso,king,bach,racist,superman,love,rudy mancuso poo bear black white official mus...,...,notags,notags,notags,notags,notags,notags,notags,notags,notags,notags
3,24,ryan,higa,higatv,nigahiga,i dare you,idy,rhpc,dares,no truth,...,notags,notags,notags,notags,notags,notags,notags,notags,notags,notags
4,10,edsheeran,ed sheeran,acoustic,live,cover,official,remix,official video,lyrics,...,notags,notags,notags,notags,notags,notags,notags,notags,notags,notags

In [7]:
# Getting leaning vocab
vocab = get_vocab(tab_dataframe['tags'])

# Convert vocab to dictionary
voc_di = {i: vo for i, vo in enumerate(vocab)}
voc_di[0] = 'notags'
voc_di = {vo: i for i, vo in voc_di.items()}

# Mapping tags to indexes in vocab
for index in range(0, max_of_tags):
    tab_dataframe['tags{}'.format(index)] = tab_dataframe['tags{}'.format(index)].map(voc_di)

tab_dataframe.fillna(0.0, inplace = True) 
tab_dataframe.head()

,category_id,tags0,tags1,tags2,tags3,tags4,tags5,tags6,tags7,tags8,...,tags114,tags115,tags116,tags117,tags118,tags119,tags120,tags121,tags122,tags123
0,10,132609.0,93553.0,72671.0,37431.0,80621.0,90210.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,23,6762.0,39514.0,88485.0,80115.0,4542.0,139581.0,13449.0,4860.0,122697.0,...,0,0,0,0,0,0,0,0,0,0
2,23,31052.0,18161.0,120295.0,18950.0,33566.0,70072.0,52138.0,69864.0,16050.0,...,0,0,0,0,0,0,0,0,0,0
3,24,132961.0,100164.0,86218.0,64076.0,136437.0,131764.0,62690.0,54549.0,142123.0,...,0,0,0,0,0,0,0,0,0,0
4,10,108602.0,119025.0,109298.0,118589.0,135194.0,57883.0,141367.0,12041.0,89819.0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
future_df = []
col_row_dict = {}

for i in range(0, 40881):
    for col in tab_dataframe.columns:
        if col == 'category_id':
            col_row_dict.update({'category_id':tab_dataframe[col][i]})
        else:
            col_row_dict.update({'tag{}'.format(tab_dataframe[col][i]):1.0})
    future_df.append(col_row_dict)
    col_row_dict = {}

In [9]:
future_df[:10]

[{'category_id': 10,
  'tag132609.0': 1.0,
  'tag93553.0': 1.0,
  'tag72671.0': 1.0,
  'tag37431.0': 1.0,
  'tag80621.0': 1.0,
  'tag90210.0': 1.0,
  'tag0.0': 1.0,
  'tag0': 1.0},
 {'category_id': 23,
  'tag6762.0': 1.0,
  'tag39514.0': 1.0,
  'tag88485.0': 1.0,
  'tag80115.0': 1.0,
  'tag4542.0': 1.0,
  'tag139581.0': 1.0,
  'tag13449.0': 1.0,
  'tag4860.0': 1.0,
  'tag122697.0': 1.0,
  'tag110355.0': 1.0,
  'tag12847.0': 1.0,
  'tag0.0': 1.0,
  'tag0': 1.0},
 {'category_id': 23,
  'tag31052.0': 1.0,
  'tag18161.0': 1.0,
  'tag120295.0': 1.0,
  'tag18950.0': 1.0,
  'tag33566.0': 1.0,
  'tag70072.0': 1.0,
  'tag52138.0': 1.0,
  'tag69864.0': 1.0,
  'tag16050.0': 1.0,
  'tag118219.0': 1.0,
  'tag28548.0': 1.0,
  'tag1259.0': 1.0,
  'tag17392.0': 1.0,
  'tag106208.0': 1.0,
  'tag15661.0': 1.0,
  'tag113136.0': 1.0,
  'tag59053.0': 1.0,
  'tag92809.0': 1.0,
  'tag104862.0': 1.0,
  'tag87727.0': 1.0,
  'tag112065.0': 1.0,
  'tag92468.0': 1.0,
  'tag83996.0': 1.0,
  'tag0.0': 1.0,
  'tag0': 1.0},
 {'category_id': 24,
  'tag132961.0': 1.0,
  'tag100164.0': 1.0,
  'tag86218.0': 1.0,
  'tag64076.0': 1.0,
  'tag136437.0': 1.0,
  'tag131764.0': 1.0,
  'tag62690.0': 1.0,
  'tag54549.0': 1.0,
  'tag142123.0': 1.0,
  'tag118281.0': 1.0,
  'tag64726.0': 1.0,
  'tag140325.0': 1.0,
  'tag20606.0': 1.0,
  'tag134833.0': 1.0,
  'tag0.0': 1.0,
  'tag0': 1.0},
 {'category_id': 10,
  'tag108602.0': 1.0,
  'tag119025.0': 1.0,
  'tag109298.0': 1.0,
  'tag118589.0': 1.0,
  'tag135194.0': 1.0,
  'tag57883.0': 1.0,
  'tag141367.0': 1.0,
  'tag12041.0': 1.0,
  'tag89819.0': 1.0,
  'tag53824.0': 1.0,
  'tag0.0': 1.0,
  'tag0': 1.0},
 {'category_id': 25,
  'tag57451.0': 1.0,
  'tag48465.0': 1.0,
  'tag51167.0': 1.0,
  'tag144619.0': 1.0,
  'tag37232.0': 1.0,
  'tag85064.0': 1.0,
  'tag10768.0': 1.0,
  'tag48983.0': 1.0,
  'tag66191.0': 1.0,
  'tag8402.0': 1.0,
  'tag85671.0': 1.0,
  'tag35816.0': 1.0,
  'tag23005.0': 1.0,
  'tag86596.0': 1.0,
  'tag110972.0': 1.0,
  'tag5167.0': 1.0,
  'tag148992.0': 1.0,
  'tag0.0': 1.0,
  'tag0': 1.0},
 {'category_id': 23,
  'tag43780.0': 1.0,
  'tag34870.0': 1.0,
  'tag100208.0': 1.0,
  'tag33416.0': 1.0,
  'tag136342.0': 1.0,
  'tag72843.0': 1.0,
  'tag56973.0': 1.0,
  'tag96233.0': 1.0,
  'tag41437.0': 1.0,
  'tag65683.0': 1.0,
  'tag45041.0': 1.0,
  'tag132564.0': 1.0,
  'tag44779.0': 1.0,
  'tag44899.0': 1.0,
  'tag98378.0': 1.0,
  'tag123640.0': 1.0,
  'tag22454.0': 1.0,
  'tag69153.0': 1.0,
  'tag23743.0': 1.0,
  'tag84487.0': 1.0,
  'tag59903.0': 1.0,
  'tag132587.0': 1.0,
  'tag102104.0': 1.0,
  'tag23015.0': 1.0,
  'tag54154.0': 1.0,
  'tag0.0': 1.0,
  'tag0': 1.0},
 {'category_id': 22, 'tag107521.0': 1.0, 'tag0.0': 1.0, 'tag0': 1.0},
 {'category_id': 24,
  'tag23346.0': 1.0,
  'tag85671.0': 1.0,
  'tag68913.0': 1.0,
  'tag75477.0': 1.0,
  'tag91805.0': 1.0,
  'tag43624.0': 1.0,
  'tag29685.0': 1.0,
  'tag110409.0': 1.0,
  'tag64726.0': 1.0,
  'tag148761.0': 1.0,
  'tag9669.0': 1.0,
  'tag41828.0': 1.0,
  'tag582.0': 1.0,
  'tag126802.0': 1.0,
  'tag74306.0': 1.0,
  'tag19846.0': 1.0,
  'tag48098.0': 1.0,
  'tag84740.0': 1.0,
  'tag51634.0': 1.0,
  'tag129061.0': 1.0,
  'tag56611.0': 1.0,
  'tag114144.0': 1.0,
  'tag125542.0': 1.0,
  'tag62964.0': 1.0,
  'tag105804.0': 1.0,
  'tag52472.0': 1.0,
  'tag67560.0': 1.0,
  'tag91577.0': 1.0,
  'tag0.0': 1.0,
  'tag0': 1.0},
 {'category_id': 22,
  'tag78426.0': 1.0,
  'tag1617.0': 1.0,
  'tag80213.0': 1.0,
  'tag0.0': 1.0,
  'tag0': 1.0}]

In [11]:
voc_fd_list = []

temp = pd.DataFrame(future_df[0:10000])
temp.fillna(0.0, inplace = True)
voc_fd_list.append(temp)

In [ ]:
temp = pd.DataFrame(future_df[10000:20000])
temp.fillna(0.0, inplace = True)
voc_fd_list.append(temp)

In [ ]:
temp = pd.DataFrame(future_df[20000:30000])
temp.fillna(0.0, inplace = True)
voc_fd_list.append(temp)

In [ ]:
temp = pd.DataFrame(future_df[30000:])
temp.fillna(0.0, inplace = True)
voc_fd_list.append(temp)

In [ ]:
first_merge = pd.merge(voc_df_list[0], voc_df_list[1], on='category_id')
second_merge = pd.merge(voc_df_list[2], voc_df_list[3], on='category_id')
final_dataframe pd.merge(first_merge, second_merge, on='category_id')
final_dataframe.head()

In [ ]:
# Create train,validation and test examples from dataframe
# train_ds, val_ds, test_ds = load_dataset(tab_dataframe)
(train_ds, train_lb), (val_ds, val_lb), (test_ds, test_lb) = load_dataset_with_lables(voc_fd, 'category_id')

In [ ]:
# first 5 training examples
print(train_ds.values[5:10])
train_lb.values[0:5]

In [ ]:
hidden = 64
model = tf.keras.Sequential([
    layers.Flatten(),
    layers.Dense(hidden,activation='relu', kernel_regularizer=keras.regularizers.l2(0.001)),
    layers.Dense(2*hidden,activation='relu', kernel_regularizer=keras.regularizers.l2(0.001)),
    layers.Dense(44, activation='softmax')])

model.compile(optimizer='nadam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'],
              )

history = model.fit(train_ds.values, train_lb.values,
                    batch_size=32,
                    epochs=20,
                    validation_data=(val_ds, val_lb))