In [1]:
from __future__ import absolute_import, division, print_function, unicode_literals

import numpy as np
import pandas as pd
from tensorflow import keras
import tensorflow as tf

from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split


from input_generator import load_dataset, load_dataset_with_lables
from data_parser import get_tags_and_labels, get_vocab, get_tags
from df import create_seperate_columns, create_listed_columns

d:\miniconda3\envs\deep\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
d:\miniconda3\envs\deep\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
d:\miniconda3\envs\deep\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
d:\miniconda3\envs\deep\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
d:\miniconda3\envs\deep\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
d:\miniconda3\envs\deep\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
d:\miniconda3\envs\deep\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
d:\miniconda3\envs\deep\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
d:\miniconda3\envs\deep\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
d:\miniconda3\envs\deep\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
d:\miniconda3\envs\deep\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
d:\miniconda3\envs\deep\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
# Get dataframe with tags and category_id columns
csvpath = 'data/CAvideos.cvs'
tab_dataframe = get_tags_and_labels(csvpath)
max_of_tags = 124
tab_dataframe = create_seperate_columns(tab_dataframe, max_of_tags, 'tags')

tab_dataframe.head()

,category_id,tags0,tags1,tags2,tags3,tags4,tags5,tags6,tags7,tags8,...,tags114,tags115,tags116,tags117,tags118,tags119,tags120,tags121,tags122,tags123
0,10,Eminem,Walk,On,Water,Aftermath/Shady/Interscope,Rap,notags,notags,notags,...,notags,notags,notags,notags,notags,notags,notags,notags,notags,notags
1,23,plush,bad unboxing,unboxing,fan mail,idubbbztv,idubbbztv2,things,best,packages,...,notags,notags,notags,notags,notags,notags,notags,notags,notags,notags
2,23,racist superman,rudy,mancuso,king,bach,racist,superman,love,rudy mancuso poo bear black white official mus...,...,notags,notags,notags,notags,notags,notags,notags,notags,notags,notags
3,24,ryan,higa,higatv,nigahiga,i dare you,idy,rhpc,dares,no truth,...,notags,notags,notags,notags,notags,notags,notags,notags,notags,notags
4,10,edsheeran,ed sheeran,acoustic,live,cover,official,remix,official video,lyrics,...,notags,notags,notags,notags,notags,notags,notags,notags,notags,notags

In [3]:
# Getting leaning vocab
vocab = get_vocab(get_tags(csvpath))

# Turn vocab to dictionary
voc_di = {i: vo for i, vo in enumerate(vocab)}
voc_di[0] = 'notags'
voc_di = {vo: i for i, vo in voc_di.items()}

# Mapping tags to indexes in vocab
for index in range(0, max_of_tags):
    tab_dataframe['tags{}'.format(index)] = tab_dataframe['tags{}'.format(index)].map(voc_di)

tab_dataframe.fillna(0.0, inplace = True) 
tab_dataframe.head()

,category_id,tags0,tags1,tags2,tags3,tags4,tags5,tags6,tags7,tags8,...,tags114,tags115,tags116,tags117,tags118,tags119,tags120,tags121,tags122,tags123
0,10,48651.0,69386.0,125693.0,43961.0,150513.0,17913.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,23,110656.0,62582.0,84342.0,92071.0,31082.0,92300.0,39276.0,33467.0,66914.0,...,0,0,0,0,0,0,0,0,0,0
2,23,132355.0,147778.0,65657.0,111369.0,63363.0,22664.0,118042.0,11366.0,28212.0,...,0,0,0,0,0,0,0,0,0,0
3,24,59504.0,36159.0,66304.0,51924.0,88956.0,34592.0,112652.0,52889.0,63109.0,...,0,0,0,0,0,0,0,0,0,0
4,10,60900.0,119011.0,139350.0,44088.0,28750.0,18883.0,131606.0,29316.0,126217.0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
future_df = []
col_row_dict = {}

for i in range(0, max_of_tags):
    for col in tab_dataframe.columns:
        if col == 'category_id':
            col_row_dict.update({'category_id':tab_dataframe[col][i]})
        else:
            col_row_dict.update({'tag{}'.format(tab_dataframe[col][i]):1.0})
    future_df.append(col_row_dict)
    col_row_dict = {}

In [5]:
voc_fd = pd.DataFrame(future_df)
voc_fd.fillna(0.0, inplace = True)
voc_fd.head()

In [7]:
# Create train,validation and test examples from dataframe
# train_ds, val_ds, test_ds = load_dataset(tab_dataframe)
(train_ds, train_lb), (val_ds, val_lb), (test_ds, test_lb) = load_dataset_with_lables(voc_fd, 'category_id')

In [8]:
# first 5 training examples
print(train_ds.values[5:10])
train_lb.values[0:5]

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

array([22, 24, 24, 28,  1], dtype=int64)

In [22]:
hidden = 64
model = tf.keras.Sequential([
    layers.Flatten(),
    layers.Dense(hidden,activation='relu', kernel_regularizer=keras.regularizers.l2(0.001)),
    layers.Dense(2*hidden,activation='relu', kernel_regularizer=keras.regularizers.l2(0.001)),
    layers.Dense(44, activation='softmax')])

model.compile(optimizer='nadam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'],
              )

history = model.fit(train_ds.values, train_lb.values,
                    batch_size=32,
                    epochs=20,
                    validation_data=(val_ds, val_lb))

Train on 79 samples, validate on 20 samples
Epoch 1/20
79/79 [==============================] - 0s 6ms/sample - loss: 3.9630 - accuracy: 0.0380 - val_loss: 3.9131 - val_accuracy: 0.2000
Epoch 2/20
79/79 [==============================] - 0s 203us/sample - loss: 3.8650 - accuracy: 0.3291 - val_loss: 3.8757 - val_accuracy: 0.3000
Epoch 3/20
79/79 [==============================] - 0s 317us/sample - loss: 3.7659 - accuracy: 0.5570 - val_loss: 3.8335 - val_accuracy: 0.2500
Epoch 4/20
79/79 [==============================] - 0s 367us/sample - loss: 3.6461 - accuracy: 0.6329 - val_loss: 3.7825 - val_accuracy: 0.2000
Epoch 5/20
79/79 [==============================] - 0s 443us/sample - loss: 3.4913 - accuracy: 0.6076 - val_loss: 3.7186 - val_accuracy: 0.2500
Epoch 6/20
79/79 [==============================] - 0s 418us/sample - loss: 3.2902 - accuracy: 0.5570 - val_loss: 3.6338 - val_accuracy: 0.2000
Epoch 7/20
79/79 [==============================] - 0s 633us/sample - loss: 3.0322 - accuracy: 0.4937 - val_loss: 3.5282 - val_accuracy: 0.2000
Epoch 8/20
79/79 [==============================] - 0s 494us/sample - loss: 2.7216 - accuracy: 0.4810 - val_loss: 3.4010 - val_accuracy: 0.1500
Epoch 9/20
79/79 [==============================] - 0s 583us/sample - loss: 2.4065 - accuracy: 0.4177 - val_loss: 3.2683 - val_accuracy: 0.2000
Epoch 10/20
79/79 [==============================] - 0s 418us/sample - loss: 2.1187 - accuracy: 0.4810 - val_loss: 3.1429 - val_accuracy: 0.2000
Epoch 11/20
79/79 [==============================] - 0s 393us/sample - loss: 1.8747 - accuracy: 0.5190 - val_loss: 3.0236 - val_accuracy: 0.2500
Epoch 12/20
79/79 [==============================] - 0s 595us/sample - loss: 1.6564 - accuracy: 0.6329 - val_loss: 2.9236 - val_accuracy: 0.2500
Epoch 13/20
79/79 [==============================] - 0s 412us/sample - loss: 1.4657 - accuracy: 0.7215 - val_loss: 2.8447 - val_accuracy: 0.2000
Epoch 14/20
79/79 [==============================] - 0s 380us/sample - loss: 1.2877 - accuracy: 0.8354 - val_loss: 2.7776 - val_accuracy: 0.2000
Epoch 15/20
79/79 [==============================] - 0s 405us/sample - loss: 1.1389 - accuracy: 0.8608 - val_loss: 2.7384 - val_accuracy: 0.1500
Epoch 16/20
79/79 [==============================] - 0s 329us/sample - loss: 1.0051 - accuracy: 0.8861 - val_loss: 2.7011 - val_accuracy: 0.1500
Epoch 17/20
79/79 [==============================] - 0s 329us/sample - loss: 0.8945 - accuracy: 0.8987 - val_loss: 2.6771 - val_accuracy: 0.1500
Epoch 18/20
79/79 [==============================] - 0s 291us/sample - loss: 0.8012 - accuracy: 0.8987 - val_loss: 2.6659 - val_accuracy: 0.1500
Epoch 19/20
79/79 [==============================] - 0s 241us/sample - loss: 0.7206 - accuracy: 0.9241 - val_loss: 2.6680 - val_accuracy: 0.1500
Epoch 20/20
79/79 [==============================] - 0s 291us/sample - loss: 0.6526 - accuracy: 0.9494 - val_loss: 2.6543 - val_accuracy: 0.1500